:root {
  --cor-0: #ffffff;
  --cor-1: #f2f1ea;
  --cor-2: #e4e3dc;
  --cor-3: #d0cfc8;
  --cor-4: #64635c;
  --cor-5: #484740;
  --cor-6: #313029;
  --cor-p0: #ebde62;
  --cor-p1: #fff6a6;
  --cor-p2: #faed75;
  --cor-p3: #ccbf40;
  --cor-p4: #b6a928;
  --cor-s1: #d9984d;
  --cor-s2: #c67032;
}

/* CORES DE TXT */

.cor-0 {
  color: var(--cor-0);
}
.cor-1 {
  color: var(--cor-1);
}
.cor-2 {
  color: var(--cor-2);
}
.cor-3 {
  color: var(--cor-3);
}
.cor-4 {
  color: var(--cor-4);
}
.cor-5 {
  color: var(--cor-5);
}
.cor-6 {
  color: var(--cor-6);
}

/* COR SECUNDARIA */

.cor-s1 {
  color: var(--cor-s1);
}
.cor-s2 {
  color: var(--cor-s2);
}

/* COR PRIMARIA */

.cor-p0 {
  color: var(--cor-p0);
}
.cor-p1 {
  color: var(--cor-p1);
}
.cor-p2 {
  color: var(--cor-p2);
}
.cor-p3 {
  color: var(--cor-p3);
}
.cor-p4 {
  color: var(--cor-p4);
}
