/* CONTAINER GERAL */
.container-vh {
  position: relative;
  height: 100vh;
  height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  background: url(../../img/img-1.jpg) no-repeat;
  background-size: cover;
  background-position: 75% 50%;
}

.container-vh {
  background-position: 75% 50%;
}

/* RESPONSIVIDADES */
/* DESKTOP ATUALIZADO */
@media screen and (min-width: 1441px) and (max-width: 1921px) {
}

/* DESKTOP E NOTEBOOK + MODERNO */
@media screen and (min-width: 1281px) and (max-width: 1441px) {
}

/* DESKTOP PADRÃO */
@media screen and (min-width: 1024px) and (max-width: 1281px) {
  .container-vh {
    background-position: 85% 50%;
    background-image: linear-gradient(
        45deg,
        rgba(44, 44, 36, 0.7) 40%,
        rgba(44, 44, 36, 0.4) 70%,
        rgba(235, 222, 98, 0.3) 100%
      ),
      url("../../img/img-1.jpg");
  }
}

/* TABLETS */
@media screen and (min-width: 767px) and (max-width: 1024px) {
  .container-vh {
    background-position: 85% 50%;
    background-image: linear-gradient(
        45deg,
        rgba(44, 44, 36, 0.7) 40%,
        rgba(44, 44, 36, 0.4) 70%,
        rgba(235, 222, 98, 0.3) 100%
      ),
      url("../../img/img-1.jpg");
  }
}

/* MOBILE ATUAL */
@media screen and (min-width: 200px) and (max-width: 767px) {
  .container-vh {
    background-position: 85% 50%;
    background-image: linear-gradient(
        65deg,
        rgba(44, 44, 36, 0.9) 40%,
        rgba(44, 44, 36, 0.7) 70%,
        rgba(235, 222, 98, 0) 100%
      ),
      url("../../img/img-1.jpg");
  }
}

/* MOBILE PEQUENOS(ANTIGOS)*/
@media screen and (min-width: 200px) and (max-width: 411px) {
}

/* TABLET E CELULAR LANDINGSCAPE */
@media screen and (max-height: 500px) and (max-width: 990px) and (orientation: landscape) {
}

/* AIRPAD */
@media screen and (min-height: 1000px) and (max-height: 1440px) and (max-width: 1000px) {
}
